
.conferencia{
    position: relative;

}
.brillo{
    filter: brightness(.4);
}


.container-imagen img {

    width: 100%;
    display: block;
}

.overlay-conferencia{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}


.container-conferencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;


padding: 0;
}

.container-conferencia a{
    text-decoration: none;
   color: var(--blanco);
   margin-left: 10px;
   font-size: 10px;


}

.container-conferencia h1{
    font-size: 1.5rem;
    color: var(--blanco);
text-align: center;
    width: 100%;
}
.containercon-p{
width: 100%;
}
.container-conferencia p{
    color: var(--blanco);
  text-align: center;
  font-size: .9rem;
  padding: 0 20px;
  width: 100%;

}
.conferencia-botones{
    display: flex;
    flex-direction: row;
  
}



/*BORDES BOTONES*/


@media(min-width:710px){


    .container-conferencia{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        width: 100%;
    
    
        padding-right: 6rem; 
    }


    .container-conferencia a{
     
       margin-left: 10px;
       font-size: 18px;
    
    }
    
    .container-conferencia h1{
     font-size: 2.2rem;
    text-align: right;
        width: 100%;
    }
    .containercon-p{
    width: 500px;
    }
    .container-conferencia p{
        font-size: 1rem;
        padding: 0 ;
      text-align: right;
      width: 100%;
    
    }
    .conferencia-botones{
        display: flex;
        flex-direction: row;
      
    }

    

}

