.containerg-nav{
    height: 80px;
    width: 100%;
    background-color: black;
    z-index: 1000;
}
.container-nav{

    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.444);
  
    
}
.navegacion a{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
  
   
}
.navegacion a:hover{
    color:rgba(92, 92, 238, 0.85);
    transition: .5s all;
}
.fondocontacto{
    background-image: url(../Imagenes/contactofondo.jpg);
    height: 100%;
    background-size: cover;
    filter: blur(2px);
    filter: brightness(.7);
}
.containerg-contacto{
 
position: absolute;
width: 100%;
z-index: 100;
    height: 100%;
}
.container-contacto{
    height: 100%;
    width: 100%;
}
.grid-contacto{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 50px;
}
.container-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.telefono input{
width: 100%;
height: 33px;
}
.nombre input{
    width: 100%;
    height: 33px;
}
.mail{
    grid-column: 1/3;
    width: 100%;
}
.mail input{
  
    width: 100%;
    height: 33px;
  
}
.mensaje{
    grid-column: 1/3;
    width: 100%;
}
.mensaje textarea{
  
    width: 100%;
    height: 200px;
}

.heading_contacto{
    font-size: 1.5rem;
    margin-bottom:30px;
}
.span{
    color:rgb(0, 179, 255);
}
input{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
.boton{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    
    
}
.boton button{
    background-color: rgb(69, 69, 248);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: wheat;
    font-family: 'Raleway', sans-serif;

}
.boton button:hover{
    cursor: pointer;
    background-color: blue;
    font-size: 21px;
   height: 55px;
   width: 158px;

  
   
    transition: all .5s;
    
}


/*PC*/

@media(min-width:574px){



    .containerg-nav{
        height: 80px;
        width: 100%;
        position: absolute;
        z-index: 1000;
    }
    .container-nav{
    
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.444);
        
        
    }
    .navegacion a{
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-decoration: none;
        color: white;
      
       
    }
    .navegacion a:hover{
        color:rgba(92, 92, 238, 0.85);
        transition: .5s all;
    }
    .fondocontacto{
        background-image: url(../Imagenes/contactofondo.jpg);
        height: 100%;
        background-size: cover;
        filter: blur(2px);
        filter: brightness(.7);
    }
    .containerg-contacto{
     
    position: absolute;
    width: 100%;
    z-index: 100;
        height: 100%;
    }
    .container-contacto{
        height: 100%;
        width: 100%;
    }
    .grid-contacto{
        display: grid;
        grid-template-columns: 250px 250px;
        row-gap: 10px;
        column-gap: 50px;
    }
    .container-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }
    
    .telefono input{
    width: 100%;
    height: 33px;
    }
    .nombre input{
        width: 100%;
        height: 33px;
    }
    .mail{
        grid-column: 1/3;
        width: 100%;
    }
    .mail input{
      
        width: 100%;
        height: 33px;
      
    }
    .mensaje{
        grid-column: 1/3;
        width: 100%;
    }
    .mensaje textarea{
      
        width: 100%;
        height: 200px;
    }
    
    .heading_contacto{
        font-size: 1.5rem;
        margin-bottom:30px;
    }
    .span{
        color:rgb(0, 179, 255);
    }
    input{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
    }
    .boton{
        margin-top: 30px;
        width: 150px;
        height: 50px;
        
        
    }
    .boton button{
        background-color: rgb(69, 69, 248);
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 5px;
        color: wheat;
        font-family: 'Raleway', sans-serif;
    
    }
    .boton button:hover{
        cursor: pointer;
        background-color: blue;
        font-size: 21px;
       height: 55px;
       width: 158px;
    
      
       
        transition: all .5s;
        
    }
    

}