.footer{
    background-color: black;
    height: 70px;
 
    
}
.container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container-footer p{
    color: white;
    text-align: center;
    

}