.informacion-adicional{
    padding: 2rem 0;
    background: rgb(26,54,67);
    background: rgb(27,82,113);
    background: linear-gradient(270deg, rgba(27,82,113,1) 0%, rgba(27,82,113,1) 0%, rgba(26,54,67,1) 100%);
}
.container-informacion{
    height: 100%;
    width: 100%;
  
}
.container-informacion ul{

    display: flex;
    flex-direction: column;
align-items: center;
    justify-content: space-around;
    color: white;
}
.container-informacion ul li{
    width: 300px;
    text-align: center;
    padding: .2rem 0;
}
.contenido-informacion a{
text-decoration: none;
color: white;
}
.contenido-informacion a:hover{
    color: rgb(2, 195, 195);
    transition: .5s all;
}

@media(min-width:750px){

    .container-informacion ul{

    display: flex;
    flex-direction: row;
align-items: center;
    justify-content: space-around;
    color: white;
}
.container-informacion ul li{
padding: 0;
width: 100px;
}

}

